Integration Tools, Google Sheets, CSV, Gmail.blueprint (1).json
{
    "name": "Integration Tools, Google Sheets, CSV, Gmail",
    "flow": [
        {
            "id": 1,
            "module": "util:BasicTrigger",
            "version": 1,
            "parameters": {
                "values": [
                    {
                        "spec": [
                            {
                                "name": "1",
                                "value": "1"
                            }
                        ]
                    }
                ]
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "values": {
                            "items": [
                                {
                                    "spec": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "spec",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value",
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Items",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Bundles",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "1",
                        "type": "text",
                        "label": "1"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-sheets:createSpreadsheet",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 10548755
            },
            "mapper": {
                "sheets": [
                    {
                        "properties": {
                            "title": "test1"
                        }
                    }
                ],
                "properties": {
                    "title": "test_excel_2025_10_24",
                    "defaultFormat": {}
                }
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "sheets": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "properties": {
                            "nested": {
                                "timeZone": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "autoRecalc": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "defaultFormat": {
                                    "nested": {
                                        "numberFormat": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (rajkonkret660@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title",
                                "required": true
                            },
                            {
                                "name": "locale",
                                "type": "text",
                                "label": "Locale"
                            },
                            {
                                "name": "autoRecalc",
                                "type": "select",
                                "label": "Recalculation interval",
                                "validate": {
                                    "enum": [
                                        "ON_CHANGE",
                                        "MINUTE",
                                        "HOUR"
                                    ]
                                }
                            },
                            {
                                "name": "timeZone",
                                "type": "select",
                                "label": "Time zone"
                            },
                            {
                                "name": "defaultFormat",
                                "spec": [
                                    {
                                        "name": "numberFormat",
                                        "type": "select",
                                        "label": "Number format",
                                        "validate": {
                                            "enum": [
                                                "TEXT",
                                                "NUMBER",
                                                "PERCENT",
                                                "CURRENCY",
                                                "DATE",
                                                "TIME",
                                                "DATE_TIME",
                                                "SCIENTIFIC"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Default format"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties"
                    },
                    {
                        "name": "sheets",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "properties",
                                    "spec": [
                                        {
                                            "name": "title",
                                            "type": "text",
                                            "label": "Title"
                                        },
                                        {
                                            "name": "index",
                                            "type": "number",
                                            "label": "Index"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Properties"
                                }
                            ],
                            "type": "collection",
                            "label": "Sheet"
                        },
                        "type": "array",
                        "label": "Sheets"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "csv:ParseCSV",
            "version": 1,
            "parameters": {
                "relax": false,
                "colCount": null,
                "delimiter": ",",
                "csvHeaders": "",
                "delimiterType": "other",
                "csvContainsHeaders": true
            },
            "mapper": {
                "csv": "Data, Produkt, Cena, Klient\n2025-10-24,Buty, 2150, Jan kowalski"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "delimiterType": {
                            "label": "Other"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "colCount",
                        "type": "number",
                        "label": "Number of columns"
                    },
                    {
                        "name": "csvContainsHeaders",
                        "type": "boolean",
                        "label": "CSV contains headers",
                        "required": true
                    },
                    {
                        "name": "delimiterType",
                        "type": "select",
                        "label": "Delimiter",
                        "required": true,
                        "validate": {
                            "enum": [
                                ",",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "relax",
                        "type": "boolean",
                        "label": "Preserve quotes inside unquoted field",
                        "required": true
                    },
                    {
                        "name": "csvHeaders",
                        "type": "text",
                        "label": "CSV headers (recommended)"
                    },
                    {
                        "name": "delimiter",
                        "type": "text",
                        "label": "Delimiter character",
                        "required": true,
                        "validate": {
                            "max": 1,
                            "min": 1
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "csv",
                        "type": "text",
                        "label": "CSV",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "col1",
                        "type": "text",
                        "label": "Data"
                    },
                    {
                        "name": "col2",
                        "type": "text",
                        "label": " Produkt"
                    },
                    {
                        "name": "col3",
                        "type": "text",
                        "label": " Cena"
                    },
                    {
                        "name": "col4",
                        "type": "text",
                        "label": " Klient"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4
            },
            "mapper": {
                "col1": "{{4.col1}}",
                "col2": "{{4.col2}}",
                "col3": "{{4.col3}}",
                "col4": "{{4.col4}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 300
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "CSV - Parse CSV [4]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 12592153
                            },
                            "mapper": {
                                "to": [
                                    "rajkonkret660@gmail.com"
                                ],
                                "content": "{{3.spreadsheetUrl}}",
                                "subject": "plik_excel",
                                "bodyType": "rawHtml"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1530,
                                    "y": 76
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "My Gmail connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": false
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "CC recipients"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "BCC recipients"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "google-sheets:updateMultipleRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 10548755
                            },
                            "mapper": {
                                "spreadsheetId": "{{3.spreadsheetId}}",
                                "valueInputOption": "USER_ENTERED",
                                "sheetId": "test1",
                                "range": "A:Z",
                                "rows": "{{5.array}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1498,
                                    "y": 530
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (rajkonkret660@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "sheetId": {
                                            "mode": "edit"
                                        },
                                        "rows": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option"
                                    },
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "mode": "edit",
                                        "required": true
                                    },
                                    {
                                        "name": "range",
                                        "type": "text",
                                        "label": "Range",
                                        "required": true
                                    },
                                    {
                                        "name": "rows",
                                        "type": "array",
                                        "label": "Rows",
                                        "mode": "edit",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "values",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Column"
                                                    },
                                                    "type": "array",
                                                    "label": "Values",
                                                    "labels": {
                                                        "add": "Add value"
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Row",
                                            "name": "value"
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}