Integration Tools, Google Sheets, CSV, Gmail.blueprint.json
{
    "name": "Integration Tools, Google Sheets, CSV, Gmail",
    "flow": [
        {
            "id": 1,
            "module": "util:BasicTrigger",
            "version": 1,
            "parameters": {
                "values": [
                    {
                        "spec": [
                            {
                                "name": "1",
                                "value": "1"
                            }
                        ]
                    }
                ]
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -369,
                    "y": -10
                },
                "restore": {
                    "parameters": {
                        "values": {
                            "items": [
                                {
                                    "spec": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "values",
                        "type": "array",
                        "label": "Bundles",
                        "required": true,
                        "spec": [
                            {
                                "name": "spec",
                                "label": "Items",
                                "type": "array",
                                "required": true,
                                "spec": [
                                    {
                                        "name": "name",
                                        "label": "Name",
                                        "required": true,
                                        "type": "text"
                                    },
                                    {
                                        "name": "value",
                                        "label": "Value",
                                        "required": true,
                                        "type": "text"
                                    }
                                ]
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "1",
                        "label": "1",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-sheets:createSpreadsheet",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 10548755
            },
            "mapper": {
                "properties": {
                    "title": "test_excel_2025_10_24",
                    "defaultFormat": {}
                },
                "sheets": [
                    {
                        "properties": {
                            "title": "test1"
                        }
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": -69,
                    "y": -10
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (rajkonkret660@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "properties": {
                            "nested": {
                                "autoRecalc": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "timeZone": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "defaultFormat": {
                                    "nested": {
                                        "numberFormat": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                }
                            }
                        },
                        "sheets": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "properties",
                        "type": "collection",
                        "label": "Properties",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title",
                                "required": true
                            },
                            {
                                "name": "locale",
                                "type": "text",
                                "label": "Locale"
                            },
                            {
                                "name": "autoRecalc",
                                "type": "select",
                                "label": "Recalculation interval",
                                "validate": {
                                    "enum": [
                                        "ON_CHANGE",
                                        "MINUTE",
                                        "HOUR"
                                    ]
                                }
                            },
                            {
                                "name": "timeZone",
                                "type": "select",
                                "label": "Time zone"
                            },
                            {
                                "name": "defaultFormat",
                                "type": "collection",
                                "label": "Default format",
                                "spec": [
                                    {
                                        "name": "numberFormat",
                                        "type": "select",
                                        "label": "Number format",
                                        "validate": {
                                            "enum": [
                                                "TEXT",
                                                "NUMBER",
                                                "PERCENT",
                                                "CURRENCY",
                                                "DATE",
                                                "TIME",
                                                "DATE_TIME",
                                                "SCIENTIFIC"
                                            ]
                                        }
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "sheets",
                        "type": "array",
                        "label": "Sheets",
                        "spec": {
                            "spec": [
                                {
                                    "name": "properties",
                                    "spec": [
                                        {
                                            "name": "title",
                                            "type": "text",
                                            "label": "Title"
                                        },
                                        {
                                            "name": "index",
                                            "type": "number",
                                            "label": "Index"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Properties"
                                }
                            ],
                            "type": "collection",
                            "label": "Sheet",
                            "name": "value"
                        }
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "csv:ParseCSV",
            "version": 1,
            "parameters": {
                "colCount": null,
                "csvContainsHeaders": true,
                "delimiterType": "other",
                "relax": false,
                "csvHeaders": "",
                "delimiter": ","
            },
            "mapper": {
                "csv": "Data, Produkt, Cena, Klient\n2025-10-24,Buty, 2150, Jan kowalski"
            },
            "metadata": {
                "designer": {
                    "x": 231,
                    "y": -10
                },
                "restore": {
                    "parameters": {
                        "delimiterType": {
                            "label": "Other"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "colCount",
                        "type": "number",
                        "label": "Number of columns"
                    },
                    {
                        "name": "csvContainsHeaders",
                        "type": "boolean",
                        "label": "CSV contains headers",
                        "required": true
                    },
                    {
                        "name": "delimiterType",
                        "type": "select",
                        "label": "Delimiter",
                        "required": true,
                        "validate": {
                            "enum": [
                                ",",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "relax",
                        "type": "boolean",
                        "label": "Preserve quotes inside unquoted field",
                        "required": true
                    },
                    {
                        "name": "csvHeaders",
                        "type": "text",
                        "label": "CSV headers (recommended)"
                    },
                    {
                        "name": "delimiter",
                        "type": "text",
                        "label": "Delimiter character",
                        "validate": {
                            "max": 1,
                            "min": 1
                        },
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "csv",
                        "type": "text",
                        "label": "CSV",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "col1",
                        "label": "Data",
                        "type": "text"
                    },
                    {
                        "name": "col2",
                        "label": " Produkt",
                        "type": "text"
                    },
                    {
                        "name": "col3",
                        "label": " Cena",
                        "type": "text"
                    },
                    {
                        "name": "col4",
                        "label": " Klient",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4
            },
            "mapper": {
                "col1": "{{4.col1}}",
                "col2": "{{4.col2}}",
                "col3": "{{4.col3}}",
                "col4": "{{4.col4}}"
            },
            "metadata": {
                "designer": {
                    "x": 531,
                    "y": -10
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "CSV - Parse CSV [4]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 831,
                    "y": -10
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 12592153
                            },
                            "mapper": {
                                "to": [
                                    "rajkonkret660@gmail.com"
                                ],
                                "subject": "plik_excel",
                                "bodyType": "rawHtml",
                                "content": "{{3.spreadsheetUrl}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1131,
                                    "y": -310
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Gmail connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": false,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "CC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "BCC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "type": "array",
                                        "label": "Additional email headers",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 10548755
                            },
                            "mapper": {
                                "mode": "fromAll",
                                "insertUnformatted": false,
                                "valueInputOption": "USER_ENTERED",
                                "insertDataOption": "INSERT_ROWS",
                                "spreadsheetId": "{{3.spreadsheetId}}",
                                "sheetId": "{{3.properties.title}}",
                                "includesHeaders": false,
                                "tableFirstRow": "A1:Z1",
                                "values": {
                                    "0": "{{5.array}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1131,
                                    "y": -10,
                                    "messages": [
                                        {
                                            "category": "setup",
                                            "severity": "error",
                                            "message": "Value must not be empty."
                                        }
                                    ]
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (rajkonkret660@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Select from all"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "sheetId": {
                                            "mode": "edit"
                                        },
                                        "includesHeaders": {
                                            "label": "No"
                                        },
                                        "tableFirstRow": {
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "label": "Values",
                                                    "type": "collection",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "label": "A",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "label": "B",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "label": "C",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "label": "D",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "label": "E",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "label": "F",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "label": "G",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "label": "H",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "label": "I",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "label": "J",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "label": "K",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "label": "L",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "label": "M",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "label": "N",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "label": "O",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "label": "P",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "label": "Q",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "label": "R",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "label": "S",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "label": "T",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "label": "U",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "label": "V",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "label": "W",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "label": "X",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "label": "Y",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "label": "Z",
                                                            "type": "text"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "label": "A-Z"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "A"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "B"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "C"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "D"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "E"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "F"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "G"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "H"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "I"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "J"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "K"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "L"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "M"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "N"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "O"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "P"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Q"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "R"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "S"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "T"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "U"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "V"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "W"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "X"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "Y"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "Z"
                                            }
                                        ]
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": null,
                            "module": "placeholder:Placeholder",
                            "metadata": {
                                "designer": {
                                    "x": 1131,
                                    "y": 290
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}